* {
  color: rgb(8, 252, 109);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  text-align: center;
}
h1{
  position: relative;
}
body {
  background-color: rgb(78, 78, 164);
  background-image: url(img/webb-dark.png);
}
table {
  border: 2px double whitesmoke
  border-collapse: collapse;
  margin: auto;
  margin-top: 10em;
}
td {
  padding: 3em;
  border: 1px solid whitesmoke;
  background-color: rgb(8, 252, 109);
  border-radius: 7px;
}
p{
  position:absolute;
  left: 100px;
  font-size: large;
}
td:hover{
  cursor: pointer;
  /* background-color: rgb(4, 252, 231); */
}

